<section id="about" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-1 col-md-10 col-sm-12">
        <div class="about-info">
          <h3>Coloque sua marca na internet</h3>
          <h1>Tenha sua empresa na internet com qualidade, velocidade e garantia. Aumente as chances de expor sua empresa e aumentar seus lucros.</h1>
        </div>
      </div>

    </div>
  </div>
</section>
