<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-5 col-sm-6">
        <h2>Agencia</h2>
        <p>231 Santa Cruz<br>Rio de Janeiro,<br>Brazil</p>


      </div>

      <div class="col-md-4 col-sm-6">
        <div class="footer-info">
          <h2>Nos encontre</h2>
          <p><a href="tel:010-090-0780">010-090-0780</a></p>
          <p><a href="mailto:bebelle@rica.com">bebelle@rica.com</a></p>
          <p><a href="#">Santa Cruz</a></p>
        </div>
      </div>

      <div class="col-md-3 col-sm-12">

        <h2>Mais informações</h2>
        <p>Saiba mais sobre nossa agencia nas nossas redes sociais.</p>
        <ul class="social-icon">
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
          <li><a href="#" class="fa fa-linkedin"></a></li>
        </ul>

      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12">
        <div class="copyright-text">
          <p>Copyright © {{ getAno }} Ysaweb

            | Design: <a rel="nofollow" href="https://www.tooplate.com">Webprcs</a></p>
        </div>
      </div>

    </div>
  </div>
</footer>

<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>
<script src="/formulario.js"></script>
</body>

</html>
