<section id="home" class="parallax-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-12">
        <div class="home-text">
          <h1>Nós temos a solução para o seu negócio!</h1>
          <p>Sites corporativos desenvolvidos com as tecnologias mais modernas.</p>
          <ul class="section-btn">
            <a href="#about" class="smoothScroll"><span data-hover="Continuar">Continuar</span></a>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Video -->
  <video controls="" autoplay="" loop="" muted>
    <source src="videos/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
