<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="container">

    <!-- NAVBAR HEADER -->
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand">Ysaweb</a>
    </div>    

  </div>
</div>
