{{> head }}
  <!-- PRE LOADER
  <div class="preloader">
    <div class="spinner">
      <span class="sk-inner-circle"></span>
    </div>
  </div> hbs-->
  <!-- MENU hbs-->
 {{> navbar }}
  <!-- HOME -->

  {{> home }}

  <!-- ABOUT -->

  {{> about }}

  <!-- PROJECT -->

  {{> project }}


  <!-- CONTACT -->
  {{> contato }}

  <!-- FOOTER -->

  {{> footer }}
